<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:18:23 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>苹果小店登陆</title>
    <meta name="keywords" content="苹果Buy">
    <meta name="description" content="apple 苹果卖">
    <%=javascript_include_tag  'login'%>
    <%=stylesheet_link_tag  'login'%>
     <%= yield :js %>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
</head>
<body class="gray-bg">
   <div class="middle-box text-center loginscreen  animated fadeInDown">
     <div>
       <%= yield%>
     </div>
    </div>
</body>
</html>
